#disc {
   font-family: 'Patrick Hand', cursive; 
   position: relative;
   top: 60px;
    padding: 40px 150px 35px 150px;
    font-size: 40px;
}
li {
    list-style-type: none;
}
@media (max-width: 700px) {
    #disc {
      padding: 200px 30px 50px 30px;
      font-size: 35px;
    }
}

