#disp1 {
  background-image: url("christmas.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 15px;
}
.triple {
  display: inline-block;
}
.triple:hover {
  cursor: pointer;
}
img {
  width: 74%;
  height: 74%;
}
#disp2 {
  margin-top: 60px;
}

#mobile2 {
  display: none;
}
@media (max-width: 700px) {
  #disp1 {
    display: none;
  }
  #mobile2 {
    text-align: center;
    margin-top: 50px;
    display: block;
    padding: 150px 18px 90px 18px;
    background-image: url("jackward.jpg");
    font-family: 'Special Elite', cursive;
  }  
  .tab {
    margin-left: 15px;
    font-size: 20px;
    font-weight: bold;
  }
  p {
    background-color: white;
    opacity: 0.7;
    padding: 3px;
  }
}
