html, body {
  top: 0;
  left: 0;
  margin: 0;
}

#topbar {
  overflow: hidden;
  background-color: #111;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
}
#topbar a {
  float: left;
  display: block;
  color: #fffff0;
  padding: 18px 25px;  
  text-decoration: none;
  font-family: Arial;
  font-size: 17px;
}
#topbar a:hover {
  background: #fffff0;
  color: #000;
}
#topbar a.current {
  background-color: #fff000;
  color: #000;
}

