#first {
  background-image: url("kym-ellispic1.jpg");
  min-height: 700px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#first div{
  text-align: center;
  background-color: clear;
  top: 50%;
  position: absolute;
  left: 0;
  width: 100%;
}
#first div span:first-child {
  padding: 25px 15px;
  opacity: 0.60;
  color: white;
  background-color: black;
  font-size: 70px;
  border-radius: 1px;
  font-family: 'Amatic SC', cursive;
  display: block;
}
#first div #sec {
  display: inline-block; 
  margin: 20px auto; 
  font-size:55px;
  cursor: pointer;
  color: white;
}
.arrow {
  cursor: pointer;
  margin-left: 49.32%;
  display: inline-block;
  font-size: 45px;
}
.switch {
 position: absolute;
 display: inline-block;
 z-index: 4;
}
.switch span {
 padding: 25px;
 font-size: 35px;
 margin: 5px;
 font-family: 'Coiny', cursive;
 border: 5px black solid;
 border-radius: 50%;
}
.switch span:hover {
 color: gold;
 border: 5px gold solid;
 cursor: pointer;
}

center {
 margin: 15px;
}

#cont2 {
 position: relative;
 display: block;
 height: 100px;
}

#mobile {
 display: none;
}

@media (max-width: 700px) {
  #first {
     display: none;
  }
  #cont2 {
     display: none;
  }
  #mobile {
     display: block;
     font-family: 'Patrick Hand', cursive;
     position: relative;
     top: 90px;
     padding: 40px 50px 35px 50px;
     font-size: 20px;
  }
}
