html, body {
  top: 0;
  left: 0;
  margin: 0;
}

#topbar {
  overflow: hidden;
  background-color: #111;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
}
#topbar a {
  float: left;
  display: block;
  color: #fffff0;
  padding: 18px 25px;  
  text-decoration: none;
  font-family: Arial;
  font-size: 17px;
}
#topbar a:hover {
  background: #fffff0;
  color: #000;
}
#topbar a.current {
  background-color: #fff000;
  color: #000;
}

#first {
  background-image: url("kym-ellispic1.jpg");
  min-height: 700px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#first div{
  text-align: center;
  background-color: clear;
  top: 50%;
  position: absolute;
  left: 0;
  width: 100%;
}
#first div span:first-child {
  padding: 25px 15px;
  opacity: 0.60;
  color: white;
  background-color: black;
  font-size: 70px;
  border-radius: 1px;
  font-family: 'Amatic SC', cursive;
  display: block;
}
#first div #sec {
  display: inline-block; 
  margin: 20px auto; 
  font-size:55px;
  cursor: pointer;
  color: white;
}
.arrow {
  cursor: pointer;
  margin-left: 49.32%;
  display: inline-block;
  font-size: 45px;
}
.switch {
 position: absolute;
 display: inline-block;
 z-index: 4;
}
.switch span {
 padding: 25px;
 font-size: 35px;
 margin: 5px;
 font-family: 'Coiny', cursive;
 border: 5px black solid;
 border-radius: 50%;
}
.switch span:hover {
 color: gold;
 border: 5px gold solid;
 cursor: pointer;
}

center {
 margin: 15px;
}

#cont2 {
 position: relative;
 display: block;
 height: 100px;
}

